Aplikacje/MotionWS/trunk/MotionDBWebServices/res/GetCurrentClientSWVersionInfo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema id="ClientVersionInfo" xmlns:xsd="http://www.w3.org/2001/XMLSchema"  elementFormDefault="qualified" >
  <xsd:element name="ClientVersionInfo">
    <xsd:complexType>
      <xsd:attribute name ="Version" type="xsd:string" use="required" />
      <xsd:attribute name="Details" type="xsd:string" use="required" />
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
