Aplikacje/MotionWS/trunk/MotionDBWebServices/res/ListMotionKindsDefined.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema id="MotionKindDefinitionList" xmlns:xsd="http://www.w3.org/2001/XMLSchema"  elementFormDefault="qualified">
  <xsd:element name="MotionKindDefinitionList" >
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="MotionKindDefinition" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="MotionKindID" type="xsd:int" />
              <xsd:element name="MotionKindName" type="xsd:string" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>