Aplikacje/MotionWS/trunk/MotionDBWebServices/res/SessionGroupDefinitionElement.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"  elementFormDefault="qualified" >
  <xsd:element name="SessionGroupDefinition">
    <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="SessionGroupID" type="xsd:int" />
              <xsd:element name="SessionGroupName" type="xsd:string" />
            </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
