Aplikacje/MotionWS/trunk/MotionDBHelper/res/BasicQueriesWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BasicQueriesWS" targetNamespace="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService">
	<wsp:Policy wsu:Id="BasicHttpBinding_IBasicQueriesWS_policy">
		<wsp:ExactlyOne>
			<wsp:All>
				<http:NtlmAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http"/>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	<wsdl:types>
		<xsd:schema elementFormDefault="qualified" targetNamespace="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService">
			<xsd:include schemaLocation="GenericQueryXML.xsd"/>
			<xsd:include schemaLocation="GenericQueryUniformXML.xsd"/>
			<xsd:include schemaLocation="GetPerformerByIdXML.xsd"/>
			<xsd:include schemaLocation="GetSessionByIdXML.xsd"/>
			<xsd:include schemaLocation="GetTrialByIdXML.xsd"/>
			<xsd:include schemaLocation="GetSegmentByIdXML.xsd"/>
			<xsd:include schemaLocation="ListPerformersXML.xsd"/>
			<xsd:include schemaLocation="ListPerformersWithAttributesXML.xsd"/>
			<xsd:include schemaLocation="ListLabPerformersWithAttributesXML.xsd"/>
			<xsd:include schemaLocation="ListPerformerSessionsXML.xsd"/>
			<xsd:include schemaLocation="ListPerformerSessionsWithAttributesXML.xsd"/>
			<xsd:include schemaLocation="ListLabSessionsWithAttributesXML.xsd"/>
			<xsd:include schemaLocation="ListSessionTrialsXML.xsd"/>
			<xsd:include schemaLocation="ListSessionTrialsWithAttributesXML.xsd"/>
			<xsd:include schemaLocation="ListTrialSegmentsXML.xsd"/>
			<xsd:include schemaLocation="ListTrialSegmentsWithAttributesXML.xsd"/>
			<xsd:include schemaLocation="ListFilesXML.xsd"/>
			<xsd:include schemaLocation="ListFilesWithAttributesXML.xsd"/>
			<xsd:include schemaLocation="ListAttributesDefined.xsd"/>
			<xsd:include schemaLocation="ListAttributeGroupsDefined.xsd"/>
			<xsd:include schemaLocation="ListSessionGroupsDefined.xsd"/>
			<xsd:include schemaLocation="ListMotionKindsDefined.xsd"/>
			<xsd:include schemaLocation="ListEnumValues.xsd"/>
			<xsd:element name="GenericQueryXML">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="1" name="filter" type="tns:ArrayOfFilterPredicate"/>
						<xsd:element minOccurs="0" maxOccurs="1" name="entitiesToInclude" type="tns:ArrayOfString"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="ArrayOfFilterPredicate">
				<xsd:sequence>
					<xsd:element minOccurs="0" maxOccurs="unbounded" name="FilterPredicate" type="tns:FilterPredicate"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="FilterPredicate">
				<xsd:sequence>
					<xsd:element minOccurs="1" maxOccurs="1" name="PredicateID" type="xsd:int"/>
					<xsd:element minOccurs="1" maxOccurs="1" name="ParentPredicate" type="xsd:int"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="ContextEntity" type="xsd:string"/>
					<xsd:element minOccurs="1" maxOccurs="1" name="PreviousPredicate" type="xsd:int"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="NextOperator" type="xsd:string"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="FeatureName" type="xsd:string"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="Operator" type="xsd:string"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="Value" type="xsd:string"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="AggregateFunction" type="xsd:string"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="AggregateEntity" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfString">
				<xsd:sequence>
					<xsd:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="GenericQueryXMLResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="1" name="GenericQueryXMLResult">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element ref="tns:GenericQueryResult"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="QueryException">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="Details" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="IssueKind" nillable="true" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="QueryException" nillable="true" type="tns:QueryException"/>
			<xsd:element name="GenericQueryUniformXML">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="1" name="filter" type="tns:ArrayOfFilterPredicate"/>
						<xsd:element minOccurs="0" maxOccurs="1" name="entitiesToInclude" type="tns:ArrayOfString"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GenericQueryUniformXMLResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="1" name="GenericQueryUniformXMLResult">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element ref="tns:GenericUniformAttributesQueryResult"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetPerformerByIdXML">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="id" type="xsd:int"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetPerformerByIdXMLResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="1" name="GetPerformerByIdXMLResult">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element ref="tns:PerformerDetailsWithAttributes"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetSessionByIdXML">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="id" type="xsd:int"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetSessionByIdXMLResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="1" name="GetSessionByIdXMLResult">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element ref="tns:SessionDetailsWithAttributes"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetSessionLabel">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="id" type="xsd:int"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetSessionLabelResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="1" name="GetSessionLabelResult" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetTrialByIdXML">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="id" type="xsd:int"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetTrialByIdXMLResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="1" name="GetTrialByIdXMLResult">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element ref="tns:TrialDetailsWithAttributes"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetSegmentByIdXML">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="id" type="xsd:int"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetSegmentByIdXMLResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="1" name="GetSegmentByIdXMLResult">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element ref="tns:SegmentDetailsWithAttributes"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ListPerformersXML">
				<xsd:complexType/>
			</xsd:element>
			<xsd:element name="ListPerformersXMLResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="1" name="ListPerformersXMLResult">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element ref="tns:PerformerList"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ListPerformersWithAttributesXML">
				<xsd:complexType/>
			</xsd:element>
			<xsd:element name="ListPerformersWithAttributesXMLResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="1" name="ListPerformersWithAttributesXMLResult">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element ref="tns:PerformerWithAttributesList"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ListLabPerformersWithAttributesXML">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="labID" type="xsd:int"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ListLabPerformersWithAttributesXMLResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="1" name="ListLabPerformersWithAttributesXMLResult">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element ref="tns:LabPerformerWithAttributesList"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ListPerformerSessionsXML">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="performerID" type="xsd:int"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ListPerformerSessionsXMLResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="1" name="ListPerformerSessionsXMLResult">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element ref="tns:PerformerSessionList"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ListPerformerSessionsWithAttributesXML">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="performerID" type="xsd:int"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ListPerformerSessionsWithAttributesXMLResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="1" name="ListPerformerSessionsWithAttributesXMLResult">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element ref="tns:PerformerSessionWithAttributesList"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ListLabSessionsWithAttributesXML">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="labID" type="xsd:int"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ListLabSessionsWithAttributesXMLResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="1" name="ListLabSessionsWithAttributesXMLResult">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element ref="tns:LabSessionWithAttributesList"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ListSessionTrialsXML">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="sessionID" type="xsd:int"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ListSessionTrialsXMLResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="1" name="ListSessionTrialsXMLResult">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element ref="tns:SessionTrialList"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ListSessionTrialsWithAttributesXML">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="sessionID" type="xsd:int"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ListSessionTrialsWithAttributesXMLResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="1" name="ListSessionTrialsWithAttributesXMLResult">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element ref="tns:SessionTrialWithAttributesList"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ListTrialSegmentsXML">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="trialID" type="xsd:int"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ListTrialSegmentsXMLResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="1" name="ListTrialSegmentsXMLResult">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element ref="tns:TrailSegmentList"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ListTrialSegmentsWithAttributesXML">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="trialID" type="xsd:int"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ListTrialSegmentsWithAttributesXMLResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="1" name="ListTrialSegmentsWithAttributesXMLResult">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element ref="tns:TrailSegmentWithAttributesList"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ListFilesXML">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="subjectID" type="xsd:int"/>
						<xsd:element minOccurs="0" maxOccurs="1" name="subjectType" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ListFilesXMLResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="1" name="ListFilesXMLResult">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element ref="tns:FileList"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ListFilesWithAttributesXML">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="subjectID" type="xsd:int"/>
						<xsd:element minOccurs="0" maxOccurs="1" name="subjectType" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ListFilesWithAttributesXMLResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="1" name="ListFilesWithAttributesXMLResult">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element ref="tns:FileWithAttributesList"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ListAttributesDefined">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="1" name="attributeGroupName" type="xsd:string"/>
						<xsd:element minOccurs="0" maxOccurs="1" name="entityKind" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ListAttributesDefinedResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="1" name="ListAttributesDefinedResult">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element ref="tns:AttributeDefinitionList"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ListAttributeGroupsDefined">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="1" name="entityKind" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ListAttributeGroupsDefinedResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="1" name="ListAttributeGroupsDefinedResult">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element ref="tns:AttributeGroupDefinitionList"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ListSessionGroupsDefined">
				<xsd:complexType/>
			</xsd:element>
			<xsd:element name="ListSessionGroupsDefinedResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="1" name="ListSessionGroupsDefinedResult">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element ref="tns:SessionGroupDefinitionList"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ListMotionKindsDefined">
				<xsd:complexType/>
			</xsd:element>
			<xsd:element name="ListMotionKindsDefinedResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="1" name="ListMotionKindsDefinedResult">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element ref="tns:MotionKindDefinitionList"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ListEnumValues">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="1" name="attributeName" type="xsd:string"/>
						<xsd:element minOccurs="0" maxOccurs="1" name="entityKind" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ListEnumValuesResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="1" name="ListEnumValuesResult">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element ref="tns:EnumValueList"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
		<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/">
			<xsd:include schemaLocation="GenericQueryXML.xsd"/>
			<xsd:include schemaLocation="GenericQueryUniformXML.xsd"/>
			<xsd:include schemaLocation="GetPerformerByIdXML.xsd"/>
			<xsd:include schemaLocation="GetSessionByIdXML.xsd"/>
			<xsd:include schemaLocation="GetTrialByIdXML.xsd"/>
			<xsd:include schemaLocation="GetSegmentByIdXML.xsd"/>
			<xsd:include schemaLocation="ListPerformersXML.xsd"/>
			<xsd:include schemaLocation="ListPerformersWithAttributesXML.xsd"/>
			<xsd:include schemaLocation="ListLabPerformersWithAttributesXML.xsd"/>
			<xsd:include schemaLocation="ListPerformerSessionsXML.xsd"/>
			<xsd:include schemaLocation="ListPerformerSessionsWithAttributesXML.xsd"/>
			<xsd:include schemaLocation="ListLabSessionsWithAttributesXML.xsd"/>
			<xsd:include schemaLocation="ListSessionTrialsXML.xsd"/>
			<xsd:include schemaLocation="ListSessionTrialsWithAttributesXML.xsd"/>
			<xsd:include schemaLocation="ListTrialSegmentsXML.xsd"/>
			<xsd:include schemaLocation="ListTrialSegmentsWithAttributesXML.xsd"/>
			<xsd:include schemaLocation="ListFilesXML.xsd"/>
			<xsd:include schemaLocation="ListFilesWithAttributesXML.xsd"/>
			<xsd:include schemaLocation="ListAttributesDefined.xsd"/>
			<xsd:include schemaLocation="ListAttributeGroupsDefined.xsd"/>
			<xsd:include schemaLocation="ListSessionGroupsDefined.xsd"/>
			<xsd:include schemaLocation="ListMotionKindsDefined.xsd"/>
			<xsd:include schemaLocation="ListEnumValues.xsd"/>
			<xs:element name="anyType" nillable="true" type="xs:anyType"/>
			<xs:element name="anyURI" nillable="true" type="xs:anyURI"/>
			<xs:element name="base64Binary" nillable="true" type="xs:base64Binary"/>
			<xs:element name="boolean" nillable="true" type="xs:boolean"/>
			<xs:element name="byte" nillable="true" type="xs:byte"/>
			<xs:element name="dateTime" nillable="true" type="xs:dateTime"/>
			<xs:element name="decimal" nillable="true" type="xs:decimal"/>
			<xs:element name="double" nillable="true" type="xs:double"/>
			<xs:element name="float" nillable="true" type="xs:float"/>
			<xs:element name="int" nillable="true" type="xs:int"/>
			<xs:element name="long" nillable="true" type="xs:long"/>
			<xs:element name="QName" nillable="true" type="xs:QName"/>
			<xs:element name="short" nillable="true" type="xs:short"/>
			<xs:element name="string" nillable="true" type="xs:string"/>
			<xs:element name="unsignedByte" nillable="true" type="xs:unsignedByte"/>
			<xs:element name="unsignedInt" nillable="true" type="xs:unsignedInt"/>
			<xs:element name="unsignedLong" nillable="true" type="xs:unsignedLong"/>
			<xs:element name="unsignedShort" nillable="true" type="xs:unsignedShort"/>
			<xs:element name="char" nillable="true" type="tns:char"/>
			<xs:simpleType name="char">
				<xs:restriction base="xs:int"/>
			</xs:simpleType>
			<xs:element name="duration" nillable="true" type="tns:duration"/>
			<xs:simpleType name="duration">
				<xs:restriction base="xs:duration">
					<xs:pattern value="\-?P(\d*D)?(T(\d*H)?(\d*M)?(\d*(\.\d*)?S)?)?"/>
					<xs:minInclusive value="-P10675199DT2H48M5.4775808S"/>
					<xs:maxInclusive value="P10675199DT2H48M5.4775807S"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:element name="guid" nillable="true" type="tns:guid"/>
			<xs:simpleType name="guid">
				<xs:restriction base="xs:string">
					<xs:pattern value="[\da-fA-F]{8}-[\da-fA-F]{4}-[\da-fA-F]{4}-[\da-fA-F]{4}-[\da-fA-F]{12}"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:attribute name="FactoryType" type="xs:QName"/>
			<xs:attribute name="Id" type="xs:ID"/>
			<xs:attribute name="Ref" type="xs:IDREF"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="IBasicQueriesWS_GenericQueryXML_InputMessage">
		<wsdl:part name="parameters" element="tns:GenericQueryXML"/>
	</wsdl:message>
	<wsdl:message name="IBasicQueriesWS_GenericQueryXML_OutputMessage">
		<wsdl:part name="parameters" element="tns:GenericQueryXMLResponse"/>
	</wsdl:message>
	<wsdl:message name="IBasicQueriesWS_GenericQueryXML_QueryExceptionFault_FaultMessage">
		<wsdl:part name="detail" element="tns:QueryException"/>
	</wsdl:message>
	<wsdl:message name="IBasicQueriesWS_GenericQueryUniformXML_InputMessage">
		<wsdl:part name="parameters" element="tns:GenericQueryUniformXML"/>
	</wsdl:message>
	<wsdl:message name="IBasicQueriesWS_GenericQueryUniformXML_OutputMessage">
		<wsdl:part name="parameters" element="tns:GenericQueryUniformXMLResponse"/>
	</wsdl:message>
	<wsdl:message name="IBasicQueriesWS_GenericQueryUniformXML_QueryExceptionFault_FaultMessage">
		<wsdl:part name="detail" element="tns:QueryException"/>
	</wsdl:message>
	<wsdl:message name="IBasicQueriesWS_GetPerformerByIdXML_InputMessage">
		<wsdl:part name="parameters" element="tns:GetPerformerByIdXML"/>
	</wsdl:message>
	<wsdl:message name="IBasicQueriesWS_GetPerformerByIdXML_OutputMessage">
		<wsdl:part name="parameters" element="tns:GetPerformerByIdXMLResponse"/>
	</wsdl:message>
	<wsdl:message name="IBasicQueriesWS_GetPerformerByIdXML_QueryExceptionFault_FaultMessage">
		<wsdl:part name="detail" element="tns:QueryException"/>
	</wsdl:message>
	<wsdl:message name="IBasicQueriesWS_GetSessionByIdXML_InputMessage">
		<wsdl:part name="parameters" element="tns:GetSessionByIdXML"/>
	</wsdl:message>
	<wsdl:message name="IBasicQueriesWS_GetSessionByIdXML_OutputMessage">
		<wsdl:part name="parameters" element="tns:GetSessionByIdXMLResponse"/>
	</wsdl:message>
	<wsdl:message name="IBasicQueriesWS_GetSessionByIdXML_QueryExceptionFault_FaultMessage">
		<wsdl:part name="detail" element="tns:QueryException"/>
	</wsdl:message>
	<wsdl:message name="IBasicQueriesWS_GetSessionLabel_InputMessage">
		<wsdl:part name="parameters" element="tns:GetSessionLabel"/>
	</wsdl:message>
	<wsdl:message name="IBasicQueriesWS_GetSessionLabel_OutputMessage">
		<wsdl:part name="parameters" element="tns:GetSessionLabelResponse"/>
	</wsdl:message>
	<wsdl:message name="IBasicQueriesWS_GetSessionLabel_QueryExceptionFault_FaultMessage">
		<wsdl:part name="detail" element="tns:QueryException"/>
	</wsdl:message>
	<wsdl:message name="IBasicQueriesWS_GetTrialByIdXML_InputMessage">
		<wsdl:part name="parameters" element="tns:GetTrialByIdXML"/>
	</wsdl:message>
	<wsdl:message name="IBasicQueriesWS_GetTrialByIdXML_OutputMessage">
		<wsdl:part name="parameters" element="tns:GetTrialByIdXMLResponse"/>
	</wsdl:message>
	<wsdl:message name="IBasicQueriesWS_GetTrialByIdXML_QueryExceptionFault_FaultMessage">
		<wsdl:part name="detail" element="tns:QueryException"/>
	</wsdl:message>
	<wsdl:message name="IBasicQueriesWS_GetSegmentByIdXML_InputMessage">
		<wsdl:part name="parameters" element="tns:GetSegmentByIdXML"/>
	</wsdl:message>
	<wsdl:message name="IBasicQueriesWS_GetSegmentByIdXML_OutputMessage">
		<wsdl:part name="parameters" element="tns:GetSegmentByIdXMLResponse"/>
	</wsdl:message>
	<wsdl:message name="IBasicQueriesWS_GetSegmentByIdXML_QueryExceptionFault_FaultMessage">
		<wsdl:part name="detail" element="tns:QueryException"/>
	</wsdl:message>
	<wsdl:message name="IBasicQueriesWS_ListPerformersXML_InputMessage">
		<wsdl:part name="parameters" element="tns:ListPerformersXML"/>
	</wsdl:message>
	<wsdl:message name="IBasicQueriesWS_ListPerformersXML_OutputMessage">
		<wsdl:part name="parameters" element="tns:ListPerformersXMLResponse"/>
	</wsdl:message>
	<wsdl:message name="IBasicQueriesWS_ListPerformersXML_QueryExceptionFault_FaultMessage">
		<wsdl:part name="detail" element="tns:QueryException"/>
	</wsdl:message>
	<wsdl:message name="IBasicQueriesWS_ListPerformersWithAttributesXML_InputMessage">
		<wsdl:part name="parameters" element="tns:ListPerformersWithAttributesXML"/>
	</wsdl:message>
	<wsdl:message name="IBasicQueriesWS_ListPerformersWithAttributesXML_OutputMessage">
		<wsdl:part name="parameters" element="tns:ListPerformersWithAttributesXMLResponse"/>
	</wsdl:message>
	<wsdl:message name="IBasicQueriesWS_ListPerformersWithAttributesXML_QueryExceptionFault_FaultMessage">
		<wsdl:part name="detail" element="tns:QueryException"/>
	</wsdl:message>
	<wsdl:message name="IBasicQueriesWS_ListLabPerformersWithAttributesXML_InputMessage">
		<wsdl:part name="parameters" element="tns:ListLabPerformersWithAttributesXML"/>
	</wsdl:message>
	<wsdl:message name="IBasicQueriesWS_ListLabPerformersWithAttributesXML_OutputMessage">
		<wsdl:part name="parameters" element="tns:ListLabPerformersWithAttributesXMLResponse"/>
	</wsdl:message>
	<wsdl:message name="IBasicQueriesWS_ListLabPerformersWithAttributesXML_QueryExceptionFault_FaultMessage">
		<wsdl:part name="detail" element="tns:QueryException"/>
	</wsdl:message>
	<wsdl:message name="IBasicQueriesWS_ListPerformerSessionsXML_InputMessage">
		<wsdl:part name="parameters" element="tns:ListPerformerSessionsXML"/>
	</wsdl:message>
	<wsdl:message name="IBasicQueriesWS_ListPerformerSessionsXML_OutputMessage">
		<wsdl:part name="parameters" element="tns:ListPerformerSessionsXMLResponse"/>
	</wsdl:message>
	<wsdl:message name="IBasicQueriesWS_ListPerformerSessionsXML_QueryExceptionFault_FaultMessage">
		<wsdl:part name="detail" element="tns:QueryException"/>
	</wsdl:message>
	<wsdl:message name="IBasicQueriesWS_ListPerformerSessionsWithAttributesXML_InputMessage">
		<wsdl:part name="parameters" element="tns:ListPerformerSessionsWithAttributesXML"/>
	</wsdl:message>
	<wsdl:message name="IBasicQueriesWS_ListPerformerSessionsWithAttributesXML_OutputMessage">
		<wsdl:part name="parameters" element="tns:ListPerformerSessionsWithAttributesXMLResponse"/>
	</wsdl:message>
	<wsdl:message name="IBasicQueriesWS_ListPerformerSessionsWithAttributesXML_QueryExceptionFault_FaultMessage">
		<wsdl:part name="detail" element="tns:QueryException"/>
	</wsdl:message>
	<wsdl:message name="IBasicQueriesWS_ListLabSessionsWithAttributesXML_InputMessage">
		<wsdl:part name="parameters" element="tns:ListLabSessionsWithAttributesXML"/>
	</wsdl:message>
	<wsdl:message name="IBasicQueriesWS_ListLabSessionsWithAttributesXML_OutputMessage">
		<wsdl:part name="parameters" element="tns:ListLabSessionsWithAttributesXMLResponse"/>
	</wsdl:message>
	<wsdl:message name="IBasicQueriesWS_ListLabSessionsWithAttributesXML_QueryExceptionFault_FaultMessage">
		<wsdl:part name="detail" element="tns:QueryException"/>
	</wsdl:message>
	<wsdl:message name="IBasicQueriesWS_ListSessionTrialsXML_InputMessage">
		<wsdl:part name="parameters" element="tns:ListSessionTrialsXML"/>
	</wsdl:message>
	<wsdl:message name="IBasicQueriesWS_ListSessionTrialsXML_OutputMessage">
		<wsdl:part name="parameters" element="tns:ListSessionTrialsXMLResponse"/>
	</wsdl:message>
	<wsdl:message name="IBasicQueriesWS_ListSessionTrialsXML_QueryExceptionFault_FaultMessage">
		<wsdl:part name="detail" element="tns:QueryException"/>
	</wsdl:message>
	<wsdl:message name="IBasicQueriesWS_ListSessionTrialsWithAttributesXML_InputMessage">
		<wsdl:part name="parameters" element="tns:ListSessionTrialsWithAttributesXML"/>
	</wsdl:message>
	<wsdl:message name="IBasicQueriesWS_ListSessionTrialsWithAttributesXML_OutputMessage">
		<wsdl:part name="parameters" element="tns:ListSessionTrialsWithAttributesXMLResponse"/>
	</wsdl:message>
	<wsdl:message name="IBasicQueriesWS_ListSessionTrialsWithAttributesXML_QueryExceptionFault_FaultMessage">
		<wsdl:part name="detail" element="tns:QueryException"/>
	</wsdl:message>
	<wsdl:message name="IBasicQueriesWS_ListTrialSegmentsXML_InputMessage">
		<wsdl:part name="parameters" element="tns:ListTrialSegmentsXML"/>
	</wsdl:message>
	<wsdl:message name="IBasicQueriesWS_ListTrialSegmentsXML_OutputMessage">
		<wsdl:part name="parameters" element="tns:ListTrialSegmentsXMLResponse"/>
	</wsdl:message>
	<wsdl:message name="IBasicQueriesWS_ListTrialSegmentsXML_QueryExceptionFault_FaultMessage">
		<wsdl:part name="detail" element="tns:QueryException"/>
	</wsdl:message>
	<wsdl:message name="IBasicQueriesWS_ListTrialSegmentsWithAttributesXML_InputMessage">
		<wsdl:part name="parameters" element="tns:ListTrialSegmentsWithAttributesXML"/>
	</wsdl:message>
	<wsdl:message name="IBasicQueriesWS_ListTrialSegmentsWithAttributesXML_OutputMessage">
		<wsdl:part name="parameters" element="tns:ListTrialSegmentsWithAttributesXMLResponse"/>
	</wsdl:message>
	<wsdl:message name="IBasicQueriesWS_ListTrialSegmentsWithAttributesXML_QueryExceptionFault_FaultMessage">
		<wsdl:part name="detail" element="tns:QueryException"/>
	</wsdl:message>
	<wsdl:message name="IBasicQueriesWS_ListFilesXML_InputMessage">
		<wsdl:part name="parameters" element="tns:ListFilesXML"/>
	</wsdl:message>
	<wsdl:message name="IBasicQueriesWS_ListFilesXML_OutputMessage">
		<wsdl:part name="parameters" element="tns:ListFilesXMLResponse"/>
	</wsdl:message>
	<wsdl:message name="IBasicQueriesWS_ListFilesXML_QueryExceptionFault_FaultMessage">
		<wsdl:part name="detail" element="tns:QueryException"/>
	</wsdl:message>
	<wsdl:message name="IBasicQueriesWS_ListFilesWithAttributesXML_InputMessage">
		<wsdl:part name="parameters" element="tns:ListFilesWithAttributesXML"/>
	</wsdl:message>
	<wsdl:message name="IBasicQueriesWS_ListFilesWithAttributesXML_OutputMessage">
		<wsdl:part name="parameters" element="tns:ListFilesWithAttributesXMLResponse"/>
	</wsdl:message>
	<wsdl:message name="IBasicQueriesWS_ListFilesWithAttributesXML_QueryExceptionFault_FaultMessage">
		<wsdl:part name="detail" element="tns:QueryException"/>
	</wsdl:message>
	<wsdl:message name="IBasicQueriesWS_ListAttributesDefined_InputMessage">
		<wsdl:part name="parameters" element="tns:ListAttributesDefined"/>
	</wsdl:message>
	<wsdl:message name="IBasicQueriesWS_ListAttributesDefined_OutputMessage">
		<wsdl:part name="parameters" element="tns:ListAttributesDefinedResponse"/>
	</wsdl:message>
	<wsdl:message name="IBasicQueriesWS_ListAttributesDefined_QueryExceptionFault_FaultMessage">
		<wsdl:part name="detail" element="tns:QueryException"/>
	</wsdl:message>
	<wsdl:message name="IBasicQueriesWS_ListAttributeGroupsDefined_InputMessage">
		<wsdl:part name="parameters" element="tns:ListAttributeGroupsDefined"/>
	</wsdl:message>
	<wsdl:message name="IBasicQueriesWS_ListAttributeGroupsDefined_OutputMessage">
		<wsdl:part name="parameters" element="tns:ListAttributeGroupsDefinedResponse"/>
	</wsdl:message>
	<wsdl:message name="IBasicQueriesWS_ListAttributeGroupsDefined_QueryExceptionFault_FaultMessage">
		<wsdl:part name="detail" element="tns:QueryException"/>
	</wsdl:message>
	<wsdl:message name="IBasicQueriesWS_ListSessionGroupsDefined_InputMessage">
		<wsdl:part name="parameters" element="tns:ListSessionGroupsDefined"/>
	</wsdl:message>
	<wsdl:message name="IBasicQueriesWS_ListSessionGroupsDefined_OutputMessage">
		<wsdl:part name="parameters" element="tns:ListSessionGroupsDefinedResponse"/>
	</wsdl:message>
	<wsdl:message name="IBasicQueriesWS_ListSessionGroupsDefined_QueryExceptionFault_FaultMessage">
		<wsdl:part name="detail" element="tns:QueryException"/>
	</wsdl:message>
	<wsdl:message name="IBasicQueriesWS_ListMotionKindsDefined_InputMessage">
		<wsdl:part name="parameters" element="tns:ListMotionKindsDefined"/>
	</wsdl:message>
	<wsdl:message name="IBasicQueriesWS_ListMotionKindsDefined_OutputMessage">
		<wsdl:part name="parameters" element="tns:ListMotionKindsDefinedResponse"/>
	</wsdl:message>
	<wsdl:message name="IBasicQueriesWS_ListMotionKindsDefined_QueryExceptionFault_FaultMessage">
		<wsdl:part name="detail" element="tns:QueryException"/>
	</wsdl:message>
	<wsdl:message name="IBasicQueriesWS_ListEnumValues_InputMessage">
		<wsdl:part name="parameters" element="tns:ListEnumValues"/>
	</wsdl:message>
	<wsdl:message name="IBasicQueriesWS_ListEnumValues_OutputMessage">
		<wsdl:part name="parameters" element="tns:ListEnumValuesResponse"/>
	</wsdl:message>
	<wsdl:message name="IBasicQueriesWS_ListEnumValues_QueryExceptionFault_FaultMessage">
		<wsdl:part name="detail" element="tns:QueryException"/>
	</wsdl:message>
	<wsdl:portType name="IBasicQueriesWS">
		<wsdl:operation name="GenericQueryXML">
			<wsdl:input wsaw:Action="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/GenericQueryXML" message="tns:IBasicQueriesWS_GenericQueryXML_InputMessage"/>
			<wsdl:output wsaw:Action="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/GenericQueryXMLResponse" message="tns:IBasicQueriesWS_GenericQueryXML_OutputMessage"/>
			<wsdl:fault wsaw:Action="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/GenericQueryXMLQueryExceptionFault" name="QueryExceptionFault" message="tns:IBasicQueriesWS_GenericQueryXML_QueryExceptionFault_FaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="GenericQueryUniformXML">
			<wsdl:input wsaw:Action="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/GenericQueryUniformXML" message="tns:IBasicQueriesWS_GenericQueryUniformXML_InputMessage"/>
			<wsdl:output wsaw:Action="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/GenericQueryUniformXMLResponse" message="tns:IBasicQueriesWS_GenericQueryUniformXML_OutputMessage"/>
			<wsdl:fault wsaw:Action="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/GenericQueryUniformXMLQueryExceptionFault" name="QueryExceptionFault" message="tns:IBasicQueriesWS_GenericQueryUniformXML_QueryExceptionFault_FaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="GetPerformerByIdXML">
			<wsdl:input wsaw:Action="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/GetPerformerByIdXML" message="tns:IBasicQueriesWS_GetPerformerByIdXML_InputMessage"/>
			<wsdl:output wsaw:Action="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/GetPerformerByIdXMLResponse" message="tns:IBasicQueriesWS_GetPerformerByIdXML_OutputMessage"/>
			<wsdl:fault wsaw:Action="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/GetPerformerByIdXMLQueryExceptionFault" name="QueryExceptionFault" message="tns:IBasicQueriesWS_GetPerformerByIdXML_QueryExceptionFault_FaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="GetSessionByIdXML">
			<wsdl:input wsaw:Action="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/GetSessionByIdXML" message="tns:IBasicQueriesWS_GetSessionByIdXML_InputMessage"/>
			<wsdl:output wsaw:Action="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/GetSessionByIdXMLResponse" message="tns:IBasicQueriesWS_GetSessionByIdXML_OutputMessage"/>
			<wsdl:fault wsaw:Action="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/GetSessionByIdXMLQueryExceptionFault" name="QueryExceptionFault" message="tns:IBasicQueriesWS_GetSessionByIdXML_QueryExceptionFault_FaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="GetSessionLabel">
			<wsdl:input wsaw:Action="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/GetSessionLabel" message="tns:IBasicQueriesWS_GetSessionLabel_InputMessage"/>
			<wsdl:output wsaw:Action="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/GetSessionLabelResponse" message="tns:IBasicQueriesWS_GetSessionLabel_OutputMessage"/>
			<wsdl:fault wsaw:Action="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/GetSessionLabelQueryExceptionFault" name="QueryExceptionFault" message="tns:IBasicQueriesWS_GetSessionLabel_QueryExceptionFault_FaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="GetTrialByIdXML">
			<wsdl:input wsaw:Action="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/GetTrialByIdXML" message="tns:IBasicQueriesWS_GetTrialByIdXML_InputMessage"/>
			<wsdl:output wsaw:Action="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/GetTrialByIdXMLResponse" message="tns:IBasicQueriesWS_GetTrialByIdXML_OutputMessage"/>
			<wsdl:fault wsaw:Action="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/GetTrialByIdXMLQueryExceptionFault" name="QueryExceptionFault" message="tns:IBasicQueriesWS_GetTrialByIdXML_QueryExceptionFault_FaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="GetSegmentByIdXML">
			<wsdl:input wsaw:Action="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/GetSegmentByIdXML" message="tns:IBasicQueriesWS_GetSegmentByIdXML_InputMessage"/>
			<wsdl:output wsaw:Action="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/GetSegmentByIdXMLResponse" message="tns:IBasicQueriesWS_GetSegmentByIdXML_OutputMessage"/>
			<wsdl:fault wsaw:Action="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/GetSegmentByIdXMLQueryExceptionFault" name="QueryExceptionFault" message="tns:IBasicQueriesWS_GetSegmentByIdXML_QueryExceptionFault_FaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="ListPerformersXML">
			<wsdl:input wsaw:Action="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/ListPerformersXML" message="tns:IBasicQueriesWS_ListPerformersXML_InputMessage"/>
			<wsdl:output wsaw:Action="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/ListPerformersXMLResponse" message="tns:IBasicQueriesWS_ListPerformersXML_OutputMessage"/>
			<wsdl:fault wsaw:Action="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/ListPerformersXMLQueryExceptionFault" name="QueryExceptionFault" message="tns:IBasicQueriesWS_ListPerformersXML_QueryExceptionFault_FaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="ListPerformersWithAttributesXML">
			<wsdl:input wsaw:Action="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/ListPerformersWithAttributesXML" message="tns:IBasicQueriesWS_ListPerformersWithAttributesXML_InputMessage"/>
			<wsdl:output wsaw:Action="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/ListPerformersWithAttributesXMLResponse" message="tns:IBasicQueriesWS_ListPerformersWithAttributesXML_OutputMessage"/>
			<wsdl:fault wsaw:Action="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/ListPerformersWithAttributesXMLQueryExceptionFault" name="QueryExceptionFault" message="tns:IBasicQueriesWS_ListPerformersWithAttributesXML_QueryExceptionFault_FaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="ListLabPerformersWithAttributesXML">
			<wsdl:input wsaw:Action="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/ListLabPerformersWithAttributesXML" message="tns:IBasicQueriesWS_ListLabPerformersWithAttributesXML_InputMessage"/>
			<wsdl:output wsaw:Action="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/ListLabPerformersWithAttributesXMLResponse" message="tns:IBasicQueriesWS_ListLabPerformersWithAttributesXML_OutputMessage"/>
			<wsdl:fault wsaw:Action="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/ListLabPerformersWithAttributesXMLQueryExceptionFault" name="QueryExceptionFault" message="tns:IBasicQueriesWS_ListLabPerformersWithAttributesXML_QueryExceptionFault_FaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="ListPerformerSessionsXML">
			<wsdl:input wsaw:Action="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/ListPerformerSessionsXML" message="tns:IBasicQueriesWS_ListPerformerSessionsXML_InputMessage"/>
			<wsdl:output wsaw:Action="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/ListPerformerSessionsXMLResponse" message="tns:IBasicQueriesWS_ListPerformerSessionsXML_OutputMessage"/>
			<wsdl:fault wsaw:Action="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/ListPerformerSessionsXMLQueryExceptionFault" name="QueryExceptionFault" message="tns:IBasicQueriesWS_ListPerformerSessionsXML_QueryExceptionFault_FaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="ListPerformerSessionsWithAttributesXML">
			<wsdl:input wsaw:Action="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/ListPerformerSessionsWithAttributesXML" message="tns:IBasicQueriesWS_ListPerformerSessionsWithAttributesXML_InputMessage"/>
			<wsdl:output wsaw:Action="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/ListPerformerSessionsWithAttributesXMLResponse" message="tns:IBasicQueriesWS_ListPerformerSessionsWithAttributesXML_OutputMessage"/>
			<wsdl:fault wsaw:Action="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/ListPerformerSessionsWithAttributesXMLQueryExceptionFault" name="QueryExceptionFault" message="tns:IBasicQueriesWS_ListPerformerSessionsWithAttributesXML_QueryExceptionFault_FaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="ListLabSessionsWithAttributesXML">
			<wsdl:input wsaw:Action="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/ListLabSessionsWithAttributesXML" message="tns:IBasicQueriesWS_ListLabSessionsWithAttributesXML_InputMessage"/>
			<wsdl:output wsaw:Action="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/ListLabSessionsWithAttributesXMLResponse" message="tns:IBasicQueriesWS_ListLabSessionsWithAttributesXML_OutputMessage"/>
			<wsdl:fault wsaw:Action="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/ListLabSessionsWithAttributesXMLQueryExceptionFault" name="QueryExceptionFault" message="tns:IBasicQueriesWS_ListLabSessionsWithAttributesXML_QueryExceptionFault_FaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="ListSessionTrialsXML">
			<wsdl:input wsaw:Action="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/ListSessionTrialsXML" message="tns:IBasicQueriesWS_ListSessionTrialsXML_InputMessage"/>
			<wsdl:output wsaw:Action="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/ListSessionTrialsXMLResponse" message="tns:IBasicQueriesWS_ListSessionTrialsXML_OutputMessage"/>
			<wsdl:fault wsaw:Action="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/ListSessionTrialsXMLQueryExceptionFault" name="QueryExceptionFault" message="tns:IBasicQueriesWS_ListSessionTrialsXML_QueryExceptionFault_FaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="ListSessionTrialsWithAttributesXML">
			<wsdl:input wsaw:Action="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/ListSessionTrialsWithAttributesXML" message="tns:IBasicQueriesWS_ListSessionTrialsWithAttributesXML_InputMessage"/>
			<wsdl:output wsaw:Action="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/ListSessionTrialsWithAttributesXMLResponse" message="tns:IBasicQueriesWS_ListSessionTrialsWithAttributesXML_OutputMessage"/>
			<wsdl:fault wsaw:Action="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/ListSessionTrialsWithAttributesXMLQueryExceptionFault" name="QueryExceptionFault" message="tns:IBasicQueriesWS_ListSessionTrialsWithAttributesXML_QueryExceptionFault_FaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="ListTrialSegmentsXML">
			<wsdl:input wsaw:Action="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/ListTrialSegmentsXML" message="tns:IBasicQueriesWS_ListTrialSegmentsXML_InputMessage"/>
			<wsdl:output wsaw:Action="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/ListTrialSegmentsXMLResponse" message="tns:IBasicQueriesWS_ListTrialSegmentsXML_OutputMessage"/>
			<wsdl:fault wsaw:Action="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/ListTrialSegmentsXMLQueryExceptionFault" name="QueryExceptionFault" message="tns:IBasicQueriesWS_ListTrialSegmentsXML_QueryExceptionFault_FaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="ListTrialSegmentsWithAttributesXML">
			<wsdl:input wsaw:Action="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/ListTrialSegmentsWithAttributesXML" message="tns:IBasicQueriesWS_ListTrialSegmentsWithAttributesXML_InputMessage"/>
			<wsdl:output wsaw:Action="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/ListTrialSegmentsWithAttributesXMLResponse" message="tns:IBasicQueriesWS_ListTrialSegmentsWithAttributesXML_OutputMessage"/>
			<wsdl:fault wsaw:Action="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/ListTrialSegmentsWithAttributesXMLQueryExceptionFault" name="QueryExceptionFault" message="tns:IBasicQueriesWS_ListTrialSegmentsWithAttributesXML_QueryExceptionFault_FaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="ListFilesXML">
			<wsdl:input wsaw:Action="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/ListFilesXML" message="tns:IBasicQueriesWS_ListFilesXML_InputMessage"/>
			<wsdl:output wsaw:Action="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/ListFilesXMLResponse" message="tns:IBasicQueriesWS_ListFilesXML_OutputMessage"/>
			<wsdl:fault wsaw:Action="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/ListFilesXMLQueryExceptionFault" name="QueryExceptionFault" message="tns:IBasicQueriesWS_ListFilesXML_QueryExceptionFault_FaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="ListFilesWithAttributesXML">
			<wsdl:input wsaw:Action="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/ListFilesWithAttributesXML" message="tns:IBasicQueriesWS_ListFilesWithAttributesXML_InputMessage"/>
			<wsdl:output wsaw:Action="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/ListFilesWithAttributesXMLResponse" message="tns:IBasicQueriesWS_ListFilesWithAttributesXML_OutputMessage"/>
			<wsdl:fault wsaw:Action="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/ListFilesWithAttributesXMLQueryExceptionFault" name="QueryExceptionFault" message="tns:IBasicQueriesWS_ListFilesWithAttributesXML_QueryExceptionFault_FaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="ListAttributesDefined">
			<wsdl:input wsaw:Action="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/ListAttributesDefined" message="tns:IBasicQueriesWS_ListAttributesDefined_InputMessage"/>
			<wsdl:output wsaw:Action="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/ListAttributesDefinedResponse" message="tns:IBasicQueriesWS_ListAttributesDefined_OutputMessage"/>
			<wsdl:fault wsaw:Action="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/ListAttributesDefinedQueryExceptionFault" name="QueryExceptionFault" message="tns:IBasicQueriesWS_ListAttributesDefined_QueryExceptionFault_FaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="ListAttributeGroupsDefined">
			<wsdl:input wsaw:Action="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/ListAttributeGroupsDefined" message="tns:IBasicQueriesWS_ListAttributeGroupsDefined_InputMessage"/>
			<wsdl:output wsaw:Action="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/ListAttributeGroupsDefinedResponse" message="tns:IBasicQueriesWS_ListAttributeGroupsDefined_OutputMessage"/>
			<wsdl:fault wsaw:Action="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/ListAttributeGroupsDefinedQueryExceptionFault" name="QueryExceptionFault" message="tns:IBasicQueriesWS_ListAttributeGroupsDefined_QueryExceptionFault_FaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="ListSessionGroupsDefined">
			<wsdl:input wsaw:Action="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/ListSessionGroupsDefined" message="tns:IBasicQueriesWS_ListSessionGroupsDefined_InputMessage"/>
			<wsdl:output wsaw:Action="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/ListSessionGroupsDefinedResponse" message="tns:IBasicQueriesWS_ListSessionGroupsDefined_OutputMessage"/>
			<wsdl:fault wsaw:Action="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/ListSessionGroupsDefinedQueryExceptionFault" name="QueryExceptionFault" message="tns:IBasicQueriesWS_ListSessionGroupsDefined_QueryExceptionFault_FaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="ListMotionKindsDefined">
			<wsdl:input wsaw:Action="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/ListMotionKindsDefined" message="tns:IBasicQueriesWS_ListMotionKindsDefined_InputMessage"/>
			<wsdl:output wsaw:Action="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/ListMotionKindsDefinedResponse" message="tns:IBasicQueriesWS_ListMotionKindsDefined_OutputMessage"/>
			<wsdl:fault wsaw:Action="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/ListMotionKindsDefinedQueryExceptionFault" name="QueryExceptionFault" message="tns:IBasicQueriesWS_ListMotionKindsDefined_QueryExceptionFault_FaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="ListEnumValues">
			<wsdl:input wsaw:Action="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/ListEnumValues" message="tns:IBasicQueriesWS_ListEnumValues_InputMessage"/>
			<wsdl:output wsaw:Action="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/ListEnumValuesResponse" message="tns:IBasicQueriesWS_ListEnumValues_OutputMessage"/>
			<wsdl:fault wsaw:Action="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/ListEnumValuesQueryExceptionFault" name="QueryExceptionFault" message="tns:IBasicQueriesWS_ListEnumValues_QueryExceptionFault_FaultMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BasicHttpBinding_IBasicQueriesWS" type="tns:IBasicQueriesWS">
		<wsp:PolicyReference URI="#BasicHttpBinding_IBasicQueriesWS_policy"/>
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="GenericQueryXML">
			<soap:operation soapAction="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/GenericQueryXML" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="QueryExceptionFault">
				<soap:fault name="QueryExceptionFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GenericQueryUniformXML">
			<soap:operation soapAction="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/GenericQueryUniformXML" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="QueryExceptionFault">
				<soap:fault name="QueryExceptionFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetPerformerByIdXML">
			<soap:operation soapAction="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/GetPerformerByIdXML" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="QueryExceptionFault">
				<soap:fault name="QueryExceptionFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetSessionByIdXML">
			<soap:operation soapAction="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/GetSessionByIdXML" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="QueryExceptionFault">
				<soap:fault name="QueryExceptionFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetSessionLabel">
			<soap:operation soapAction="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/GetSessionLabel" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="QueryExceptionFault">
				<soap:fault name="QueryExceptionFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetTrialByIdXML">
			<soap:operation soapAction="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/GetTrialByIdXML" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="QueryExceptionFault">
				<soap:fault name="QueryExceptionFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetSegmentByIdXML">
			<soap:operation soapAction="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/GetSegmentByIdXML" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="QueryExceptionFault">
				<soap:fault name="QueryExceptionFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="ListPerformersXML">
			<soap:operation soapAction="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/ListPerformersXML" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="QueryExceptionFault">
				<soap:fault name="QueryExceptionFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="ListPerformersWithAttributesXML">
			<soap:operation soapAction="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/ListPerformersWithAttributesXML" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="QueryExceptionFault">
				<soap:fault name="QueryExceptionFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="ListLabPerformersWithAttributesXML">
			<soap:operation soapAction="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/ListLabPerformersWithAttributesXML" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="QueryExceptionFault">
				<soap:fault name="QueryExceptionFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="ListPerformerSessionsXML">
			<soap:operation soapAction="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/ListPerformerSessionsXML" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="QueryExceptionFault">
				<soap:fault name="QueryExceptionFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="ListPerformerSessionsWithAttributesXML">
			<soap:operation soapAction="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/ListPerformerSessionsWithAttributesXML" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="QueryExceptionFault">
				<soap:fault name="QueryExceptionFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="ListLabSessionsWithAttributesXML">
			<soap:operation soapAction="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/ListLabSessionsWithAttributesXML" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="QueryExceptionFault">
				<soap:fault name="QueryExceptionFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="ListSessionTrialsXML">
			<soap:operation soapAction="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/ListSessionTrialsXML" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="QueryExceptionFault">
				<soap:fault name="QueryExceptionFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="ListSessionTrialsWithAttributesXML">
			<soap:operation soapAction="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/ListSessionTrialsWithAttributesXML" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="QueryExceptionFault">
				<soap:fault name="QueryExceptionFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="ListTrialSegmentsXML">
			<soap:operation soapAction="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/ListTrialSegmentsXML" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="QueryExceptionFault">
				<soap:fault name="QueryExceptionFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="ListTrialSegmentsWithAttributesXML">
			<soap:operation soapAction="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/ListTrialSegmentsWithAttributesXML" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="QueryExceptionFault">
				<soap:fault name="QueryExceptionFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="ListFilesXML">
			<soap:operation soapAction="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/ListFilesXML" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="QueryExceptionFault">
				<soap:fault name="QueryExceptionFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="ListFilesWithAttributesXML">
			<soap:operation soapAction="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/ListFilesWithAttributesXML" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="QueryExceptionFault">
				<soap:fault name="QueryExceptionFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="ListAttributesDefined">
			<soap:operation soapAction="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/ListAttributesDefined" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="QueryExceptionFault">
				<soap:fault name="QueryExceptionFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="ListAttributeGroupsDefined">
			<soap:operation soapAction="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/ListAttributeGroupsDefined" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="QueryExceptionFault">
				<soap:fault name="QueryExceptionFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="ListSessionGroupsDefined">
			<soap:operation soapAction="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/ListSessionGroupsDefined" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="QueryExceptionFault">
				<soap:fault name="QueryExceptionFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="ListMotionKindsDefined">
			<soap:operation soapAction="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/ListMotionKindsDefined" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="QueryExceptionFault">
				<soap:fault name="QueryExceptionFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="ListEnumValues">
			<soap:operation soapAction="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService/IBasicQueriesWS/ListEnumValues" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="QueryExceptionFault">
				<soap:fault name="QueryExceptionFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BasicQueriesWS">
		<wsdl:port name="BasicHttpBinding_IBasicQueriesWS" binding="tns:BasicHttpBinding_IBasicQueriesWS">
			<soap:address location="http://db-bdr.pjwstk.edu.pl/Motion/BasicQueriesWS.svc"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>