Aplikacje/MotionWS/trunk/MotionDBHelper/res/FileListType.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"  elementFormDefault="qualified">
  <xsd:complexType name="FileListType">
      <xsd:sequence>
        <xsd:element name="FileDetails" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:attribute name="FileID" type="xsd:int" />
            <xsd:attribute name="FileName" type="xsd:string" />
            <xsd:attribute name="FileDescription" type="xsd:string" />            
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
