Aplikacje/MotionWS/trunk/MotionDBHelper/res/ListTrialFilesXML.xsd

<?xml version="1.0" encoding="utf-8"?>
<s:schema id="TrialFileList" xmlns:s="http://www.w3.org/2001/XMLSchema"  elementFormDefault="qualified">
  <s:element name="TrialFileList">
    <s:complexType>
      <s:sequence>
        <s:element name="FileDetails" minOccurs="0" maxOccurs="unbounded">
          <s:complexType>
            <s:attribute name="FileID" type="s:integer" />
            <s:attribute name="FileName" type="s:string" />
          </s:complexType>
        </s:element>
      </s:sequence>
    </s:complexType>
  </s:element>
</s:schema>
