Aplikacje/MotionWS/trunk/MotionDBHelper/res/ListAttributeGroupsDefined.xsd

<?xml version="1.0" encoding="utf-8"?>
<s:schema id="AttributeGroupDefinitionList" xmlns:s="http://www.w3.org/2001/XMLSchema"  elementFormDefault="qualified">
  <s:element name="AttributeGroupDefinitionList" >
    <s:complexType>
      <s:sequence>
        <s:element name="AttributeGroupDefinition" minOccurs="0" maxOccurs="unbounded">
          <s:complexType>
            <s:sequence>
              <s:element name="AttributeGroupName" type="s:string" />
              <s:element name="DescribedEntity" type="s:string" />
            </s:sequence>
          </s:complexType>
        </s:element>
      </s:sequence>
    </s:complexType>
  </s:element>
</s:schema>