Aplikacje/MotionWS/trunk/MotionDBHelper/res/PerformerDetailsWithAttributesElement.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"  elementFormDefault="qualified" >
  <xsd:include schemaLocation="AttributesElement.xsd" />
        <xsd:element name="PerformerDetailsWithAttributes">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="PerformerID" type="xsd:int" />
              <xsd:element name="FirstName" type="xsd:string" />
              <xsd:element name="LastName" type="xsd:string" />
              <xsd:element ref="Attributes" minOccurs="0" maxOccurs="1" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
</xsd:schema>
