Aplikacje/MotionWS/trunk/MotionDBHelper/res/PerformerDetailsWithAttributesElement.xsd

<?xml version="1.0" encoding="utf-8"?>
<s:schema xmlns:s="http://www.w3.org/2001/XMLSchema"  elementFormDefault="qualified" >
  <s:include schemaLocation="AttributesElement.xsd" />
        <s:element name="PerformerDetailsWithAttributes">
          <s:complexType>
            <s:sequence>
              <s:element name="PerformerID" type="s:int" />
              <s:element name="FirstName" type="s:string" />
              <s:element name="LastName" type="s:string" />
              <s:element ref="Attributes" minOccurs="0" maxOccurs="1" />
            </s:sequence>
          </s:complexType>
        </s:element>
</s:schema>
