Aplikacje/MotionWS/trunk/MotionDBHelper/res/SegmentDetailsWithAttributesElement.xsd

<?xml version="1.0" encoding="utf-8"?>
<s:schema xmlns:s="http://www.w3.org/2001/XMLSchema"  elementFormDefault="qualified" >
  <s:include schemaLocation="AttributesElement.xsd" />
  <s:element name="SegmentDetailsWithAttributes">
    <s:complexType>
      <s:sequence>
        <s:element name="SegmentID" type="s:int" />
        <s:element name="TrialID" type="s:int" />
        <s:element name="SegmentName" type="s:string" />
        <s:element name="StartTime" type="s:int" />
        <s:element name="EndTime" type="s:int" />
        <s:element ref="Attributes" minOccurs="0" maxOccurs="1" />
      </s:sequence>
    </s:complexType>
  </s:element>
</s:schema>
