Aplikacje/MotionWS/trunk/MotionDBHelper/res/TrialDetailsWithAttributesElement.xsd

<?xml version="1.0" encoding="utf-8"?>
<s:schema xmlns:s="http://www.w3.org/2001/XMLSchema"  elementFormDefault="qualified" >
  <s:include schemaLocation="AttributesElement.xsd" />
    <s:element name="TrialDetailsWithAttributes">
      <s:complexType>
        <s:sequence>
          <s:element name="TrialID" type="s:int" />
          <s:element name="SessionID" type="s:int" />
          <s:element name="TrialDescription" type="s:string" />
          <s:element name="Duration" type="s:int" />
          <s:element ref="Attributes" minOccurs="0" maxOccurs="1" />
        </s:sequence>
      </s:complexType>
    </s:element>
</s:schema>
