Aplikacje/MotionWS/branches/PlainNTLM/MotionDBWebServices/res/ListUserBaskets.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema id="BasketDefinitionList" xmlns:xsd="http://www.w3.org/2001/XMLSchema"  elementFormDefault="qualified">
  <xsd:element name="BasketDefinitionList" >
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="BasketDefinition" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="BasketName" type="xsd:string" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>