Aplikacje/MotionWS/branches/CustomPrincipal/MotionDBWebServices/res/ListPerformersXML.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema id="PerformerList" xmlns:xsd="http://www.w3.org/2001/XMLSchema"  elementFormDefault="qualified" >
      <xsd:element name="PerformerList">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="PerformerDetails" minOccurs="0" maxOccurs="unbounded">
              <xsd:complexType>
                <xsd:attribute name="PerformerID" type="xsd:int" />
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
</xsd:schema>
